# *** DEV ***
ENV=dev

USE_LOCAL_STACK=1
AWS_HOST="http://localhost:4566"
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test


DOCKER_LOCAL_STACK_CONTAINER_NAME=dev-aws-container
DOCKER_LOCAL_STACK_SOCK_VOLUMEN=localstack_volumen/dev_sock/docker.sock
DOCKER_LOCAL_STACK_TEMP_VOLUMEN=localstack_volumen/dev_temp
DOCKER_LOCAL_STACK_VOLUMEN=localstack_volumen/dev_localstack_data
DOCKER_LOCAL_STACK_PORT=4566
DOCKER_LOCAL_STACK_PORT_OPTIONAL=4510-4559

# *** QA (docker) ***
# ENV=qa